<!DOCTYPE html>
<html>
<head>
	<title>chat</title>
	<meta charset="utf-8">
</head>

<body>
	<form>
		<div id="create_box">
		<input type="text" id="room_name" placeholder="部屋を作る">
		<input type="button" id="create" value="create">
		</div>
		<div>
		<input type="text" id="msg" placeholder="メッセージ">
		<input type="button" id="send" value="send">
		</div>
	</form>

	<hr>
	<div id="peers"></div>

	<hr>
	<div id="msgarea"></div>

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="https://skyway.io/dist/v2/0.3/peer.min.js"></script>
<script src="/js/mame.js"></script>
<script>
	mame.init();

	$("#create").on("click", function(){
		mame.create_room($("#room_name").val());
	});

	$("#send").on("click", function(){
		mame.send($("#msg").val());
	});

	window.onunload = window.onbeforeunload = function(e) {
		mame.close();
	}
</script>
</body>

</html>

